<f:debug title="plantFamlies">{plantFamlies}</f:debug>
<div class="row mb-4">
    <div class="col-sm-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <f:translate key="filter.button.plant_family"/>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <f:for each="{plantFamilies}" as="family">
                    <li><a href="#" class="dropdown-item">{family.title}</a></li>
                </f:for>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
</div>
