<f:layout name="Default"/>

<f:section name="Main">

    <f:render section="List" arguments="{plants:plants}"/>

</f:section>

<f:section name="List">
    <div class="row row-cols-2 row-cols-lg-3 g-3">
        <f:for each="{plants}" as="plant">
            <div class="col">
                <div class="card bg-dark text-white">
                    <f:if condition="{plant.media.0}">
                        <f:then>
                            <f:link.action action="show" arguments="{plant:plant}">
                                <f:image image="{plant.media.0}" class="card-img img-fluid" alt="{plant.title}" width="240c" height="240c"/>
                            </f:link.action>
                        </f:then>
                        <f:else>
                            <img class="card-img img-fluid" src="https://via.placeholder.com/240x240" title="{plant.title}" alt="placeholder image" width="240" height="240">
                        </f:else>
                    </f:if>
                    <div class="card-img-overlay d-flex align-items-center" style="background:rgba(0,0,0,0.3);">
                        <f:link.action pageUid="{settings.detailPage}" action="show" arguments="{plant:plant}">
                            <h5 class="card-title mb-1 text-white"><strong>{plant.title}</strong></h5>
                            <p class="card-text text-white small"><f:format.crop maxCharacters="180">{plant.description}</f:format.crop></p>
                        </f:link.action>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>

<f:section name="FooterAssets">
    <script>
        // TYPO3 Extension links
        document.addEventListener("DOMContentLoaded", function() {
            let plantsCategorySelect = document.getElementById('tx-plants-category-select');
            plantsCategorySelect.onchange = function(e){
                if(e.target.value !== ''){
                    window.location = e.target.value;
                }
            }
        });
    </script>
</f:section>
