<f:layout name="Default"/>

<f:section name="Main">

    <f:render section="List" arguments="{plants:plants}"/>

</f:section>

<f:section name="List">
    <div class="row row-cols-1 row-cols-lg-{settings.list.columns.lg} g-3">
        <f:for each="{plants}" as="plant">
            <div class="col">

                    <f:link.action controller="Plant" action="show" arguments="{plant:plant}" class="shadow p-3 d-flex align-items-center">
                        <f:if condition="{plant.media.0}">
                            <f:then>
                                <f:image image="{plant.media.0}" class="img-fluid" alt="{plant.title}" width="140c" height="140c"/>
                            </f:then>
                            <f:else>
                                <img class="card-img img-fluid" src="https://via.placeholder.com/240x240" title="{plant.title}" alt="placeholder image" width="240" height="240">
                            </f:else>
                        </f:if>
                        <div class="p-2">
                            <h5 class="card-title mb-1"><strong>{plant.title}</strong></h5>
                            <div class="small"><f:format.html parseFuncTSPath=""><f:format.crop maxCharacters="{settings.teaserMaxCharacters}">{plant.description}</f:format.crop></f:format.html></div>
                        </div>
                    </f:link.action>

            </div>
        </f:for>
    </div>
</f:section>
