<f:layout name="Default"/>

<f:section name="Main">

    <f:render section="List" arguments="{plants:plants}"/>

</f:section>

<f:section name="List">
    <div class="list">
        <table class="table table-striped">
            <tr class="bg-primary text-light">
                <th><f:translate key="plant"/></th>
                <th><f:translate key="category"/></th>
                <th><f:translate key="description"/></th>
            </tr>
            <f:for each="{plants}" as="plant">
                <tr>
                    <td>
                        <f:if condition="{plant.media.0}">
                            <f:then>
                                <f:image image="{plant.media.0}" class="img-fluid img-thumbnail rounded-circle me-2" alt="{plant.title}" width="60c" height="60c"/>
                            </f:then>
                            <f:else>

                            </f:else>
                        </f:if>

                        <f:link.action action="show" arguments="{plant:plant}">
                            <strong>{plant.title}</strong>
                        </f:link.action>
                    </td>
                    <td>

                    </td>
                    <td>
                        <f:format.crop maxCharacters="180">{plant.description}</f:format.crop>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</f:section>

<f:section name="FooterAssets">
    <script>
        // TYPO3 Extension links
        document.addEventListener("DOMContentLoaded", function() {
            let plantsCategorySelect = document.getElementById('tx-plants-category-select');
            plantsCategorySelect.onchange = function(e){
                if(e.target.value !== ''){
                    window.location = e.target.value;
                }
            }
        });
    </script>
</f:section>
