<f:link.page pageUid="124">
    <small class="text-muted"><f:translate key="plants"/></small>
</f:link.page>

<h1 class="display-3 fw-bold">{plant.title}</h1>

<div class="row">
    <div class="col-sm-6">
        <f:if condition="{plant.description}">
            <f:then>
                <f:format.html parseFuncTSPath="">{plant.description}</f:format.html>
            </f:then>
            <f:else>
                <f:translate key="nodescription"/>
            </f:else>
        </f:if>
    </div>
    <div class="col-sm-6">
        <f:if condition="{plant.media.0}">
            <f:then>
                <f:image image="{plant.media.0}" class="img-fluid" alt="{plant.title}" />
            </f:then>
            <f:else>
                <img class="img-fluid" src="https://via.placeholder.com/600x480" title="{plant.title}" alt="placeholder image" width="600" height="480">
            </f:else>
        </f:if>
    </div>
</div>

<f:link.page pageUid="{settings.listPage}" class="btn btn-primary"><f:translate key="backtolist"/></f:link.page>
