<f:link.page pageUid="124">
    <small class="text-muted"><f:translate key="plants"/></small>
</f:link.page>

<h1 class="display-3 fw-bold">{plant.title}</h1>

<div class="row">
    <div class="col-sm-6">
        <p class="lead">
            <f:if condition="{plant.description}">
                <f:then>
                    <f:format.raw>{plant.description}</f:format.raw>
                </f:then>
                <f:else>
                    <f:translate key="nodescription"/>
                </f:else>
            </f:if>
        </p>
    </div>
    <div class="col-sm-6">
        <img class="img-fluid" src="https://via.placeholder.com/600x480" alt="Plant Placeholder">
    </div>
</div>
